<%- include('head', { title: 'List Cart' })  %> 
<body>
    <%- include('nav'), { totalCart: totalCart }  %> 
    <div class="container my-4 p-0">
      <div class="listCarts">
        <div class="title text-center text-light">
          <h5>Giỏ hàng của bạn</h5>
        </div>
        <table class="table table-bordered mt-4" style="transform: scale(0.95);">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Tên</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Giá</th>
            </tr>
          </thead>
        <p class="text-danger mt-3 mb-1 ml-5">Có <%=listProducts.length%> sản phẩm. </p>
          <% if(listProducts.length !== 0){ %>
            <% listProducts.forEach((item, index)=>{ %>
              <tbody>
                  <tr>
                    <th scope="row"><%= index + 1  %></th>
                    <td><%= item.product.name  %></td>
                    <td>
                      <div class="amount d-flex justify-content-center align-items-center">
                        <a href=<%= "/cart/subtract:" +  item.product.id  %>  class="m-0">-</a>
                        <p class="m-0"><%= item.count %></p>
                        <a href=<%= "/cart/add:" +  item.product.id  %> class="m-0">+</a>
                      </div>
                    </td>

                    <td class="d-flex justify-content-between">
                      <%= item.product.total %> đ
                      <a href=<%= "/cart/delete:" +  item.product.id  %>><i class="far fa-times-circle text-danger" style="font-size: 25px;"></i></a>
                    </td>
                  </tr>
                </tbody>
             <% }) %>   
             <tfoot>
              <tr>
                <th scope="col"></th>
                <th scope="col">Tổng cộng</th>
                <th scope="col"></th>
                <th scope="col"><%= totalPrice  %> đ</th>
              </tr>
            </tfoot> 
          <% } %> 
      </table>
      <% if(listProducts.length !== 0){ %>
        <div class="pay row pb-5">
          <div class="col-md-9"></div>
          <div class="col-md-3">
            <a class="btn btn-danger" href="/cart/buy" role="button">Mua hàng</a>
          </div>
        </div>
      <% } %> 

      </div>
    </div>
</body>
</html>

